.requestpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightcyan;
}

.requestform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 32px;
  max-width: 400px;
  width: 100%;
}


.requestform-container label {
  opacity: 0;
  transform: translateX(-100px);
}

.requestform-container input,
.requestform-container textarea {
  opacity: 0;
  transform: translateY(100px);
  margin: auto;
  border: 2px solid black;
}

.requestform-container button {
  opacity: 0;
  transform: scale(0.5);
  margin: 10px;
  padding: 10px;
}
